body{
	font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}
.quitar-float{
	float: none;	
}
.espacio-arriba{
	margin-top: 100px;
}
.pacifico{
	font-family: 'pacifico', cursive
}
.se-gris{
	background: #eee;
}
.padding-largo{
	padding: 5px 10px;
}
.grande{
	font-size: 4em;
}
.mediano{
	font-size: 1.5em;
}
.retraso-1{
	-wedkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.retraso-2{
	-wedkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.verde{
	color: #96CC61;
}
.espacio-derecha{
	margin-right: 1em; 
}
.inline-block li{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
a, .azul{
	color: #04426B;
}